{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Список статей</h2>
  
  {% if articles %}

    <div class="row">
      {% for article in articles %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <img src="{% if article.avatar != None %}{{ article.avatar }}{% else %}/media/images/8136031.png{% endif %}" class="card-img-top" alt="Аватар статьи">
              <h5 class="card-title my-2">{{ article.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ article.create_at|date:"d M Y" }}</h6>
              <p class="card-text">{{ article.content_preview }}...</p>
              <a href="{% url 'article' article.id %}" class="btn btn-primary mt-auto align-self-start w-100">Читать далее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        {% if articles.has_previous %}
          <li class="page-item">
            <a class="page-link" href="{% url 'index'%}?page={{ articles.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
        
        {% for num in pages_nums %}
          <li class="page-item {% if articles.number == num %} active {% endif %}">
            <a class="page-link" href="{% url 'index'%}?page={{ num }}">
              {{ num }}
            </a>
          </li>
        {% endfor %}

        {% if articles.has_next %}
          <li class="page-item">
            <a class="page-link" href="{% url 'index'%}?page={{ articles.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>

  {% else %}

    <div class="alert alert-info" role="alert">
      Нет доступных статей.
    </div>

  {% endif %}

</div>
{% endblock %}