{% extends 'blog/base.html' %}

{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Список статей</h2>

  <div class="d-flex flex-row mb-2">
      <a
        href="{% url 'index'%}?page=1"
        class="btn me-2 mb-2 {% if not category %} btn-primary {% else %} btn-light {% endif %}">
        Все
      </a>
      {% for cat in categories %}
        <a
          href="{% url 'index'%}?page=1&category={{ cat.name }}"
          class="btn me-2 mb-2 {% if category == cat.name %} btn-primary {% else %} btn-light {% endif %}">
          {{ cat.name }}
        </a>
      {% endfor %}
  </div>
  
  {% if articles %}

    <div class="row">
      {% for article in articles %}
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4 d-flex align-items-stretch">
          <div class="card">
            <div class="card-body d-flex flex-column">
              <img src="{% if article.avatar != None %}{{ article.avatar }}{% else %}/media/images/8136031.png{% endif %}" class="card-img-top" alt="Аватар статьи">
              <h5 class="card-title my-2">{{ article.title }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ article.create_at|date:"d M Y" }}</h6>
              <p class="card-text">{{ article.content_preview }}...</p>
              <a href="{% url 'article' article.id %}" class="btn btn-primary mt-auto align-self-start w-100">Читать далее</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination d-flex justify-content-center">
        {% for num in pages_nums %}
          <li class="page-item {% if articles.number == num %} active {% endif %}">
            <a class="page-link" href="{% url 'index'%}?page={{ num }}{% if category %}&category={{ category }}{% endif %}">
              {{ num }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>

  {% else %}

    <div class="alert alert-info" role="alert">
      Нет доступных статей.
    </div>

  {% endif %}

</div>
{% endblock %}